.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .frmb-control li:nth-child(odd){
  background-color: green !important;
  color: #fff !important;
}

.frmb-control li:nth-child(even){
  background-color: aquamarine !important;
  color: #fff !important;
} */

.frmb-control li{
  border-radius: 1px;
}
.frmb-control li:hover{
  background-color: aquamarine !important;
  border-radius: 1px;
  color: blue;
}
/* formbuilder-icon-paragraph input-control input-control-3 ui-sortable-handle */
/* frmb  pull-left ui-sortable empty */
/* header-field form-field */
.input-control{
  background-color: blue;
}

.stage-wrap{
  padding-left: 20%;
  background-color: aliceblue !important;
}

.form-field{
  background-color: red;
}

.select-field{
  background-color: red;
  color: blue;
}

.logout_align{
  flex-direction: row;
  text-align: end;
}